/Makefile
/autom4te.cache/
/bin/
/cnf/autom4te.cache/
/cnf/config.hin
/cnf/configure.out
/config.log
/config.status
/configure
/htm/
/xgap.sh

/doc/manual.aux
/doc/manual.bbl
/doc/manual.blg
/doc/manual.dvi
/doc/manual.idx
/doc/manual.ilg
/doc/manual.ind
/doc/manual.lab
/doc/manual.log
/doc/manual.pdf
/doc/manual.six
/doc/manual.toc

/doc/gobject.tex
/doc/posetops.tex
/doc/tthmacros.tex
/doc/tthout
/doc/usercomm.tex

/gh-pages/
/tmp/
