/Makefile
/bin/
/config.log
/config.status
/xgap.sh
/cnf/autom4te.cache/


/doc/manual.aux
/doc/manual.bbl
/doc/manual.blg
/doc/manual.dvi
/doc/manual.idx
/doc/manual.lab
/doc/manual.log
/doc/manual.pdf
/doc/manual.six
/doc/manual.toc

/doc/gobject.tex
/doc/posetops.tex
/doc/tthmacros.tex
/doc/tthout
/doc/usercomm.tex

/htm

/gh-pages/
